body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.landing-page {
  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.landing-page h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.landing-page button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
